<html>
    <head>
        <!-- meta charset 指定了页面编码, 否则中文会乱码 -->
        <meta charset="utf-8">
        <!-- title 是浏览器显示的页面标题 -->
        <title>TODO 程序</title>
    </head>
    <body>
        <form action="/todo/add" method="post">
            <input type="text" name="content" placeholder="请输入 todo">
            <br>
            <button type="submit">添加</button>
        </form>

        <h3>
            1: todo
            <a href="/todo/delete?id=1"></a>
        </h3>
    {todos}
    </body>
</html>